In [1]:
import numpy as np
import math
from numpy.lib.function_base import extract
import scipy

In [21]:
#Input rotation matrix and end effector position with respect to base frame
R = np.array(list(map(float, input("Enter row-wise elements seperated with space").split()))).reshape((3,3))
d = np.array(list(map(float, input("Enter end effector position in the form (x,y,z)").split()))).reshape((3,1))
a1 = float(input("Enter a1"))
#distance between base and link 1
a2 = float(input("Enter a2"))
d4 = float(input("Enter distance between O3 and O4(d4)"))

Enter row-wise elements seperated with space0.2 0.3 0.4 0.6 0.7 0.8 0.1 0.5 0.9
Enter end effector position in the form (x,y,z)1 2 3
Enter a11
Enter a21.5
Enter distance between O3 and O4(d4)1.5

In [19]:
print(d[0,0])
print(d[1,0])

1.0
2.0
1.224744871391589

In [24]:
r = math.sqrt(((d[0,0]**2) + (d[1,0]**2) - (a1**2) - (a2**2))/(2*a1*a2))
alpha = math.atan2(R[0,1], R[0,0])
theta2 = math.atan(math.sqrt(1 - r**2)/r)
theta1 = math.atan2(d[0], d[1]) - math.atan2(a1 + a2*math.cos(theta2), a2*math.sin(theta2))
theta3 = 0
theta4 = theta1 + theta2 - alpha
d3 = d[2] + d4

print("Theta1 = ", theta1, "Theta2 = ", theta2, "Theta3 = ", theta3, "Theta4 = ", theta4)
print("d3 = ", d3)

Theta1 =  -0.6832464777525331 Theta2 =  0.7016741237876036 Theta3 =  0 Theta4 =  -0.9643660772122585
d3 =  [4.5]